#h1{

    display: flex;

    justify-content: center;

    align-items: center;

    margin-top: 100px;
    color: white;

}

#div2{

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 100px;

    margin-top: 50px;
    

}

.btn1{

    height: 40px;

    width: 80px;

    background-color: white;

    border: 1px solid black;

    box-shadow: 0px 10px 10px 0px black;
    color: black;

}
.btn1:hover{
    background-color:#5cbdb9

}

#div3{

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 100px;

}

.btn2{

    height: 40px;

    width: 80px;

    margin-top: 30px;

    background-color: white;

    border: 1px solid black;

    box-shadow: 0px 10px 10px 0px black;
    color: black;

}
.btn2:hover{
    background-color:#5cbdb9

}

#div4{

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 100px;

}

.btn3{

    height: 40px;

    width: 80px;

    margin-top: 30px;

    background-color: white;

     border: 1px solid black;

    box-shadow: 0px 10px 10px 0px black;
    color: black;

}
.btn3:hover{
    background-color:#5cbdb9

}

#div5{

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 100px;

}

.btn4{

    height: 40px;

    width: 80px;

    margin-top: 30px;

    background-color: white;

    border: 1px solid black;

    box-shadow: 0px 10px 10px 0px black;
    color: black;

}
.btn4:hover{
    background-color: #5cbdb9
}

body{
    background: #393f4d
}