.Nav{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    color: blue;
    background-color: azure;
    border: solid white;
    border-radius: 10px;
}

.h3{
    color: black;
}

#Login{
    height: 40px;
    width: 120px;
    background-color: white;
    color: black;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 200px;
}
#Login:hover {
    background-color: black;
    color: white;

}